<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EnduroFit - Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
<div class="welcome-container">
    <h1>Welcome to EnduroFit</h1>
    <div class="button-container">
        <a href="/login">
            <button>Login</button>
        </a>
        <a href="/register">
            <button>Register</button>
        </a>
        <a href="/about">
            <button>About Us</button>
        </a>
    </div>
</div>
</body>
</html>
